<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sms.dao.SalaryMapper">
    <insert id="addSalary" parameterType="com.sms.pojo.Salary">
        insert into salary (userId, userName, salary, isSalary) VALUES (#{userId},#{userName},#{salary},#{isSalary})
    </insert>
    <update id="updateSalary" parameterType="com.sms.pojo.Salary">
        update salary set userName=#{userName},salary=#{salary},isSalary=#{isSalary} where userId=#{userId}
    </update>
    <select id="getAllSalary" resultType="com.sms.pojo.Salary">
        select * from salary
    </select>
    <delete id="deleteSalary" parameterType="int">
        delete from salary where userId=#{userId}
    </delete>
    <select id="getSalaryByName" parameterType="String" resultType="com.sms.pojo.Salary">
        select * from salary where userName=#{userName}
    </select>
    <select id="getSalaryByAscendingOrder" resultType="com.sms.pojo.Salary">
        select * from salary where userId=userId order by salary asc
    </select>
    <select id="getSalaryByInvertedOrder" resultType="com.sms.pojo.Salary">
        select * from salary where userId=userId order by salary desc
    </select>
    <select id="getSalaryByIsPay" resultType="com.sms.pojo.Salary">
        select * from salary where isSalary=1
    </select>
    <select id="getSalaryByNoPay" resultType="com.sms.pojo.Salary">
        select * from salary where isSalary=0
    </select>
</mapper>