<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sms.dao.UserMapper">
    <select id="getAllUser" resultType="com.sms.pojo.User">
        select * from user
    </select>
    <select id="getUserById" parameterType="int" resultType="com.sms.pojo.User">
        select * from user where userId=#{userId}
    </select>
    <select id="getUserByAccount" parameterType="String" resultType="com.sms.pojo.User">
        select * from user where userAccount=#{Account}
    </select>
    <select id="getUserByAccountAndPassword" parameterType="String" resultType="com.sms.pojo.User">
        select * from user where userAccount=#{userAccount} and userPassword=#{userPassword}
    </select>
    <select id="getUserByUserName" parameterType="String" resultType="com.sms.pojo.User">
        select * from user where userName=#{userName}
    </select>
    <select id="getUserByRoleId" parameterType="int" resultType="com.sms.pojo.User">
        select * from user where roleId=#{roleId}
    </select>
    <select id="getUserByDepartmentId" parameterType="int" resultType="com.sms.pojo.User">
        select * from user where departmentId=#{departmentId}
    </select>
    <select id="getUserBySex" parameterType="String" resultType="com.sms.pojo.User">
        select * from user where sex=#{sex}
    </select>
    <select id="getUserByNoPunch" resultType="com.sms.pojo.User">
        select * from user where punch = 0
    </select>
    <select id="getUserByYesPunch" resultType="com.sms.pojo.User">
        select * from user where punch = 1
    </select>
    <select id="getUserByNoSalary" resultType="com.sms.pojo.User">
        select * from user where isSalary = 0
    </select>
    <select id="getUserByYesSalary" resultType="com.sms.pojo.User">
        select * from user where isSalary = 1
    </select>
    <delete id="deleteUserByUserId" parameterType="int">
        delete from user where userId=#{userId}
    </delete>
    <update id="updateUser" parameterType="com.sms.pojo.User">
        update user set userId=#{userId},userName=#{userName},userAccount=#{userAccount},userPassword=#{userPassword},age=#{age},sex=#{sex},departmentId=#{departmentId},roleId=#{roleId},punch=#{punch},isSalary=#{isSalary},entryTime=#{entryTime}
    </update>
</mapper>